body{
    background: linear-gradient(90deg,#FA5F55 5%, #20b2aa);
}
.neon {
    text-align: center;
    padding-top: 0.25em;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
}
#game-area{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    width: 75em;
    height: 32em;
    max-width: 1000px;
    max-height: 500px;
    background-color: white;
    font-size: 300px;
}

